html, body {
	width: 100%;
	margin: 0;
	height: 8000px;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.lobby {
margin-top: 40%;
margin-left: 10%;
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: 'Futura', sans-serif;
font-size: 80px;
text-align: center;
text-decoration: none;
position: fixed;
top:0;
left:0;
}

.a {
	height: 200px;
	width: 200px;
}

.header {
	margin-top: 90%;
	width: 100%;
	height: 900px;
	z-index: 10;
	background-color: rgb(211,211,211);

}

.parent {
width: 300px;
height: 100px;
margin-left: 10%;
margin-top: 20%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
z-index: 10;
position: fixed;
top:0;
left:0;
}

.parentagain {
width: 300px;
height: 100px;
margin-left: 10%;
margin-top: 2%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
z-index: 10;
position: fixed;
top:0;
left:0;
}



.floorone {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
text-decoration: none;
justify-content: space-between;
z-index: 10;
margin-top: 10px;
}

#section2 {
	text-decoration: none;
}

.manualheader {
	margin-top: 30%;
	margin-left: 50%;
	margin-top: 350px;
	font-family: 'Saira', sans-serif;
	font-size: 100px;
	position: absolute;
}

/*@media (max-width: 1000px) {
	.manualheader {
		margin-top: 100px;
		margin-left: 200px;
		font-size: 80px;
	}

	.parent {
		margin-top: 30%;
		margin-left: 15%;
	}

	.parentagain {
		margin-left: 50%;
	}

}*/

.floortwo {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
margin-top: 10px;
}

.floorthree {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
}

.floorfour {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
}

.floorfive {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
margin-top: 10px;
}

.floorsix {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
margin-top: 10px;
}

.floorseven {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
}

.flooreight {
height: 100px;
width: 100px;
background-color: #bbb;
border-radius: 50%;
border: 5px rgb(105,105,105) solid;
font-family: Futura, sans-serif;
font-size: 80px;
text-align: center;
justify-content: space-between;
}

.parent2 {
margin-top: 10%;
margin-left: 40%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: absolute;
justify-content: space-between;
z-index: 5;	
}

.step1 {
font-family: 'Saira', sans-serif;
font-size: 200px;
text-shadow: 50px black;
z-index: 5;	
}

.stepone {
font-family: 'Saira', sans-serif;
font-size: 50px;
z-index: 5;	
}

.nextstep {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 20%;
margin-left: 0%;
text-decoration: underline;
}

.step2 {
margin-left: 40%;
margin-top: 30%;
font-family: 'Saira', sans-serif;
font-size: 200px;
}

.steptwo {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}


.step3 {
margin-top: 30%;
font-family: 'Saira', sans-serif;
font-size: 200px;
margin-left: 40%;
}

.stepthree {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}

.nextstep2 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 20%;
margin-left: 40%;
text-decoration: underline;
}

.step4 {
margin-left: 40%;
margin-top: 30%;
font-family: 'Saira', sans-serif;
font-size: 200px;
}

.stepfour {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}

.nextstep3 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 15%;
margin-left: 40%;
text-decoration: underline;
}

.step5 {
margin-top: 30%;
font-family: 'Saira', sans-serif;
font-size: 200px;
margin-left: 40%;
}

.stepfive {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}

.nextstep4 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 15%;
margin-left: 40%;
text-decoration: underline;
}

.step6 {
margin-left: 40%;
margin-top: 30%;
font-family: 'Saira', sans-serif;
font-size: 200px;
}

.stepsix {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}

.nextstep5 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 15%;
margin-left: 40%;
text-decoration: underline;
}

.step7 {
margin-left: 40%;
margin-top: 30%;
font-family: 'Saira', sans-serif;
font-size: 200px;
}

.stepseven {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}

.nextstep6 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-left: 40%;
margin-top: 10%;
text-decoration: underline;
}

.step8 {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 200px;
}

.stepeight {
margin-left: 40%;
font-family: 'Saira', sans-serif;
font-size: 50px;	
}

.nextstep7 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 10%;
margin-left: 40%;
text-decoration: underline;
}

.backtotop1 {
font-family: Futura, sans-serif;
font-size: 30px;
text-decoration: underline;	
}

.backtotop {
margin-left: 40%;
font-family: Futura, sans-serif;
font-size: 30px;
text-decoration: underline;	
}

.previousstep {
font-family: Futura, sans-serif;
font-size: 30px;
margin-left: 40%;
text-decoration: underline;	
}

.previousstep1 {
font-family: Futura, sans-serif;
font-size: 30px;
margin-top: 5%;
margin-left: 40%;
text-decoration: underline;	
}