
body {
  font-size: 40px;
font-family: 'Abril Fatface', cursive;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
  padding-right: 2%;
}

a:hover {
  filter: opacity(0.5);
}

.result {
	text-align: justify; 
	margin-left: 25%;
	display: inline-block;
	line-height: 1.5;
}

.caption {
	margin-top: 5%;
	  font-size: 20px;
	  margin-left: 82%;
}

.title {
	font-size: 35px;
	margin-left: 10%;
	top: 0px;
	display: none;
}

.hover {
	width: 18%;
	position: fixed;
	left: 2%;
	top: 0%;
	filter: opacity(0.5);
}